<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App - The App</title>

</head>

<body>

  <div>
    <h3>Exercise 2.01</h3>
    <p>App hash: {{ hs }}</p>
    <p>Response hash: {{ response_hash }}</p>
    <p>Counter: {{ counter }}</p>
    <p>Image timestamp: {{ timestamp }}</p>
    <img src="static/image.jpg" width="300px" />


  </div>
  <div>
    <form>
    <input type="text" maxlength="10" /><br />
    <input type="submit" value="Click me">
    </form>
    <ul>
      {% for todo in todos %}
      <li>{{todo}}</li>
      {% endfor %}
    </ul>
  </div>

</body>

</html>